
/*	=============================== */
/*				STANDARD
/*	=============================== */

	* {
		margin:0px;
		padding:0px;
		font-family:tahoma, verdana, sans-serif;
		font-size:14px;
		font-weight:normal;
		z-index:0;
		text-align:left;
		color:rgb(51,56,61);
	}
	
	body {
		background-color:rgb(0,170,225);
		overflow:hidden;
	}
	
	input	{
		border:none;
		padding:4px;
		text-align:left;
	}

	input[type=text],
	input[type=file],
	textarea {
		background-color: white;
		color:rgb(25,30,35);
		border:1px solid rgb(229,234,239);
	}
	
	input[type=text][disabled='disabled']{
		background-color:rgb(229,234,239);
		border:1px solid rgb(229,234,239);
		color:rgb(127,134,137);
	}

	input[type='radio']{
		margin-bottom:6px;
	}

	a {
		color:rgb(0,170,225);
		text-decoration:none;
	}
	
	a:hover {
		text-decoration:underline;
	}
	
	p {
		display:block;
	}
	
	h1 { 
		margin-left:0px;
		color:rgb(204,209,214);
		font-size:2em;
		clear:right;
		text-transform:uppercase;
	}
	
	h2 {
		color:rgb(102,107,112);
		display:inline;
		font-size:1.6em;
		padding:0 1em 0 0;
		margin:0 0 .2em 0;
		text-transform:lowercase;
	}
	
	h3 {
		color:rgb(102,107,112);
		font-size:1.3em;
		padding:0 1em .4em 0;
		text-transform:lowercase;
	}
	
	td {
		vertical-align:top;
	}
	
	ul {
		margin-left:20px;
		margin-bottom:8px;
	}
	
	li {
		margin-top:8px;
	}

	table {
		border-collapse: collapse;
	}





/*	============================= */
/*				COMMON
/*	============================= */





/* ------- */
/* Button */
/* ----- */
	.button,
	.buttondis,
	.buttonsel {
		padding:10px 8px;
		margin:1px;
		cursor:pointer;
	}
	
	.button,
	.button:link,
	.button:active {
		background-color:rgb(76,81,86);	
		color:rgb(204,209,214);	
	}
	
	.button:hover {
		color:rgb(229,234,239);
	}
		
	
	.buttonsel,
	.buttonsel:hover {
		background-color:rgb(0,170,225);
		color:rgb(165,222,240);
	}
	
	.buttonsel:hover {
		color:rgb(250,252,255);
	}
	.buttondis{
		background-color:rgb(76,81,86);
		color:rgb(51,56,61);
		cursor:default;
	}

	.spinnerbutton,
	.spinnerbutton:active {
		height:22px;
		width:20px;
		font-size:15px;
		text-align:center;
		padding:0;
		vertical-align:4px;
		font-weight:bold;
		margin:0px 0px 0px 0px;
		background-color: rgb(153,158,163);
	}

	.spinnerbutton:hover {
		color:white;
	}


/*--------------------*/
/* Common Page Stuff */
/* -----------------*/

	#navprimarypane {
		display:block;
		position:absolute;
		top:0px;
		left:0px;
		width:70px;
		height:100%;
		background-color:rgb(204,209,214);
		padding:0px;
	}
	
	#navtargetpane {
		display:block;
		position:absolute;
		top:0px;
		left:70px;
		width:400px;
		height:100%;
		padding:0px 10px 0px 10px;
		background-color:rgb(229,234,239);
		overflow-y:scroll;
		overflow-x:hidden;
	}
	
	#navtargetpane a {
		color:rgb(51, 56, 61);	
	}
	
	#mainwrapper {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		overflow-x:hidden;
		overflow-y:hidden;
		position:absolute;
		top:0px;
		left:0px;
		background-color:rgb(250,252,255);
	}
	
	#mainpane {
		margin-left:470px;
	}
	
	.primarynavbutton {
		height:50px;
		width:50px;
		margin-left:5px;
		border-left:5px solid transparent;
		margin-top:10px;
		cursor:pointer;
	}
		
	#navtargetpane h1 {
		color:rgb(204,209,214);
		font-weight:normal;
		margin:10px 0px 10px 0px;
	}

	#pnsaveout {
		width:100%;
		overflow-x:hidden;
		overflow-y:scroll;
		height:400px;
	}
	
	#logocanvas {
		background-color:transparent;
		margin:2px 0px 0px 2px;
		border:0px;
		position:fixed;
		right:15px;
		bottom:40px;
		z-index:999;
	}
	
	#npSaveout {
		height:800px;
		width:100%;
	}
	
	.pagecontent {
		margin:10px 20px 100px 40px;
	}
	
	.textpage {
		width:700px;
	}
	
	.pagecontent h1,
	.pagecontent h2,
	.pagecontent h3 {
		display:block;
		text-transform:none;
		margin-bottom:0px;
	}

	.pagecontent h1 {
		margin-top:30px;
		margin-bottom:10px;
	}
	
	.pagecontent > h1:first-child {
		margin-top:0px;
	}
	
	.pagecontent h2 {
		margin-top:20px;
	}
	
	.pagecontent h3 {
		margin-top:16px;
	}
	
	.btt {
		font-style:normal;
		margin-left:20px;
	}
	
	.pagecontent br {
		height:15px;
		display:block;
	}
	
	.pagecontent input[type=text]{
		margin:6px 3px 2px 0px;
		padding-left:10px;
	}
	
	.pagecontent p {
		margin-top:8px;
	}
	
	.charselectarea {
		width:100%;
	}
	
	.charselectbuttonwrapper {
		display:inline;
		float:left;
		height:49px;
		width:49px;
		cursor:pointer;
		background-color:rgb(250,252,255);
		margin:0px 5px 5px 0px;
	}
	
	.charselectcanvas{
		height:50px;
		width:50px;
	}
	
	.charselectcanvassel {
		background-color:rgb(0,170,225);
	}
	
	.charselectbuttonsel,
	.charselectbutton {
		width:100%;
		height:100%;
		text-align:center;
		color:rgb(204,209,214);
		font-size:25px;
		overflow:hidden;
		padding-top:10px;
	}

	.charselectbuttonsel {
		background-color:rgb(0,170,225);
	}
	
	.unit {
		font-size: 10px;
		color: rgb(127,134,137);
		padding-left: 4px;
	}
	
/* -----------*/
/* Nav Stuff */
/* ---------*/

	.navtargetbutton,
	.navtargetbuttonsel {
		font-size:1.5em;
		display:block;
		text-transform:lowercase;
		font-weight:lighter;
		padding:4px 2px 4px 0px;
		background-color:transparent;
		cursor:pointer;
	}

	.navtargetbutton:hover{
		padding:4px 0px 4px 2px;
	}
	
	.navtargetbuttonsel {
		color:rgb(0,170,225);
	}
	


/* ------- */
/* Dialog */
/* ----- */
	
	#dialog_bg{
		display:none;
		position:absolute;
		top:0%;
		left:0%;
		width:100%;
		height:100%;
		text-align:center;
		background-color:rgb(76,81,86);
		z-index:1001;
		-moz-opacity: 0.8;
		opacity:.80;
		filter: alpha(opacity=80);
	}
	
	#dialog_box {
		display:none;
		position:absolute;
		top:100px;
		left:100px;
		height:auto;
		width:auto;
		background-color:rgb(204,209,214);
		z-index:1002;
		overflow:auto;
	}

	.dialogCloseButton {
		width:20px; 
		height:25px;
		color:rgb(229,234,239);			
		background-color:rgb(0,170,225);/* dynamic */
		font-size:24px;
		font-weight:bold;
		text-align:center; 
		padding:0px;
		cursor:pointer;
		border-radius:0px;
	}
	
	#dialogLeftBar {
		width:20px; 
		vertical-align:top;
		background-color:rgb(0,170,225);/* dynamic */
	}
	
	#dialogRightContent {
		padding:10px 20px 20px 20px;
		color:rgb(25,30,35);			
	}
	
	#dialogRightContent h1{
		margin-bottom:10px;
	}
	
	#dialogRightContent td {
		color:rgb(25,30,35);			
	}

	#dialogRightContent input {
		background-color:rgb(25,30,35);
		color:rgb(204,209,214);			
		margin:1px;
		cursor:pointer;
		padding:4px 12px;
	}
	
	#dialogRightContent .subnavunit {
		margin:10px 0px 0px 0px;
		width:400px;
		padding:0px;
	}
	
	#dialogRightContent h1,
	#dialogRightContent h2,
	#dialogRightContent h3 {
		color:rgb(76,81,86);		
	}
	
		




/*	============================= */
/*				PAGES
/*	============================= */






/* ------------------ */
/* Page - Open / New */
/* -----------------*/
	
	.splashscreen{
		text-align:center;
		width:800px;
		margin:0px auto;
	}
	
	.splashver {
		position:relative;
		top:-200px;
		left:167px;
		width:466px;
		margin-bottom:-70px;
		font-size:.8em;
		color:white;
	}
	
	.splashver a {
		font-size:.9em;
		color:white;
		text-decoration:underline;
	}
	
	#splashscreencanvas {
		position:relative;
		top:0px;
		left:0px;
	}
	
	#newprojectname	{
		width:98%;
		height:25px;
		margin:10px 0px 0px 0px;
		color:rgb(51,56,61);
		display: block;
	}

	#droptarget {
		width: 90%;
		height: 72px;
		margin: 7px 0px 20px 0px;
		background-color: white;
		border:1px dashed rgb(127,134,137);
		color: rgb(0,170,225);
		padding: 20px;
	}
	
	
/* ----------------- */
/* Page - Char edit */
/* --------------- */

	.charedittable {
		width:600px;
		height:100%;
		position:fixed;
		left:0px;
		top:40px;
		background-color:transparent;
		z-index:10;
	}
		
	#chareditcanvas {
	}
	
	#ishereghostcanvas { 
		display: none;
	}	

	.ssthumb {
		border:3px solid rgb(204,209,214);
		cursor:pointer;
	}
	
	.ssthumb:hover {
		border:3px solid rgb(0,170,225);/* dynamic */
	}

/*	TOOLS		*/
	#toolsarea {
		position:fixed;
		left:500px;
		top:10px;
		z-index:10;
	}
	
	#toolsarea div {
		margin-right:0px;
	}

	.tool {
		height:24px;
		width:24px;
		overflow:visible;
		padding:4px 0px 0px 4px;
		margin-right:0px;
		display:inline;
		float:left;
	}
	
	.out {
		background-color:rgb(204,209,214);
		color:rgb(51,56,61);
		padding:4px 0px 0px 6px;
		margin:1px 0px 0px 1px;
		width:70px;
	}
	
	.tool canvas {
		margin:0px 4px 0px 4px;
	}

/*	LAYERS		*/
	
	.layertable {
		width:100%;
	}

	.layer,
	.layersel	{
		width:100%;
		border-bottom:6px solid rgb(229, 234, 239);
		background-color: rgb(178,183,188);
		height: 50px;
		margin-bottom: -10px;
		cursor: pointer;
	}

	.layer .layername{
		color:rgb(250,252,255);
	}

	.layersel .layername {
		background-color: rgb(0,170,225);  
		color: rgb(165,222,240);
	}

	.layername{
		padding:6px 0px 6px 10px;
		height: 45px;
		text-align: left;
		font-size: 24px;
	}

	.layernote {
		font-size: .4em;
		color:white;
		display: block;
		margin-top:4px;
		clear: both;
	}

	.layerthumb {
		height:50px;
		width:50px;
		background-color: rgb(250,252,255);
	}

	.layerthumb canvas {
		height: 50px;
		width: 50px;
	}
	
/*	DETAILS		*/
	
	.detail	{
		width:380px;
	}
	
	.detail td {
		margin:10px 10px 0px 10px;
		padding:5px 10px 0px 0px;
		vertical-align:top;
	}
	
	.detail h3 {
		padding:0;
	}

	.detail input[type='text'] {
		padding:0 .4em;
		display:inline;
		width:140px;
		height:20px;
		vertical-align:top;
		border:1px solid white;
		/*
		color:rgb(51,56,61);
		background-color: rgb(204,209,214);
		*/
	}	
	
	.detail input[type=text][disabled='disabled']{
		background-color:rgb(204,209,214);
		border:1px solid rgb(204,209,214);
		color:rgb(76,81,86);
	}

	.detail .rightcol {
		width:200px;
	}
	
	.detail .leftcol	{
		width:11px;
		padding:10px 0px 0px 0px;
		margin:0px;
		overflow:hidden;
	}
	
	.detail .leftcol canvas {
		position:relative;
		top:-3px;
	}
		
	.canvasbutton{
		padding-right:6px;
		cursor:pointer;
	}
	
/*	ACTIONS		*/	 
	
	.actionsgrid {
		padding:0px 10px 30px 5px;
		width:380px;
	}
	
	.actionsgrid td{
		width:33%;
	}
	
	.actionsgrid h3 {
		margin-top:10px;
	}
	
	.actionsgrid input {
		width:123px;
		text-transform: lowercase;
	}
		
	
/* ----------------------- */
/* Page - Font Properties */
/* --------------------- */	

	.metadata h3 {
		margin-top:30px;
	}
	
	.opentypepropertiestable {
		width:100%;
	}

	.propname {
		padding:4px 0px 0px 0px;
		width:20%;
	}

	.opentypepropertiestable input[type=text]{
		width:100%;
		margin:0px 0px 10px 20px;
	}
	
	
/* --------------------- */
/* Page - Font Settings */
/* ------------------- */	

	.fontmetricstable td {
		padding:0px 10px 0px 0px;
		vertical-align:middle;
	}
	
	.fontmetricstable .spinnerbutton {
		height:28px;
		position: relative;
		top:4px;
		left:-4px;
	}
	
/* -------------------- */
/* Page - Save Project */
/* ------------------ */
	
	#genoutput {
		font-family:monospace;
	}
	
	
/* ----------------- */
/* Page - Testdrive */
/* --------------- */
	
	#tdcanvas {
		background-color:white;
	}
	
	#tdtextarea	{
		width:795px;
		height:150px;
		padding:2px 0px 0px 5px;
		border:0px;
		background-color:rgb(204,209,214);
		overflow:hidden;
		margin:1px 0px 10px 0px;
		font-size:2em;
	}
	
	#roughptsize {
		padding-left: 6px;
	}

/* ------------------ */
/* Page - LinkedShapes */
/* ---------------- */	

	.ssthumbcontainer {
		width:100%;
		overflow-y:auto;
		overflow-x:hidden;
	}
	
	.ssthumbcontainer table {
		margin:0px 10px 30px 0px;
		display:inline;
		float:left;
		text-transform:none;
	}
	
	.ssthumbcontainer canvas {
		background-color:white;
	}
	
	.ssusedinthumb {
		border-bottom:3px solid transparent;
	}
	
	.ssusedinthumb:hover {
		cursor:pointer;
		border-bottom:3px solid rgb(0,170,225);			
	}

