/*	=============================== */
/*				STANDARD
/*	=============================== */

	* {
		margin:0px;
		padding:0px;
		font-family:tahoma, verdana, sans-serif;
		font-size:14px;
		font-weight:normal;
		z-index:0;
		text-align:left;
		color:rgb(51,56,61);
		-moz-user-select:none;
		-webkit-user-select:none;
		-ms-user-select:none;
		user-select:none;
	}

	body {
		background-color:rgb(250,252,255);
		overflow:hidden;
	}

	input	{
		border:none;
		padding:4px;
		text-align:left;
	}

	input[type=text],
	input[type=file],
	textarea {
		background-color: white;
		color:rgb(25,30,35);
		border:1px solid rgb(229,234,239);
	}

	input[type=text][disabled='disabled']{
		background-color:rgb(229,234,239);
		border:1px solid rgb(229,234,239);
		color:rgb(127,134,137);
	}

	input[type='radio']{
		margin-bottom:6px;
	}

	b {
		font-weight: bold;
	}

	a,
	a:focus,
	a:active {
		color:rgb(0,170,225);
		text-decoration:none;
	}

	a:hover {
		text-decoration:underline;
	}

	p {
		display:block;
	}

	h1 {
		margin-left:0px;
		color:rgb(204,209,214);
		color:rgb(178,183,188);
		font-size:2em;
		clear:right;
		text-transform:uppercase;
	}

	h2 {
		color:rgb(102,107,112);
		display:inline;
		font-size:1.6em;
		padding:0 1em 0 0;
		margin:0 0 .4em 0;
		text-transform:lowercase;
	}

	h3 {
		color:rgb(102,107,112);
		font-size:1.3em;
		padding:0 1em .3em 0;
		text-transform:lowercase;
	}

	td {
		vertical-align:top;
	}

	ul {
		margin-left:20px;
		margin-bottom:8px;
	}

	li {
		margin-top:8px;
	}

	table {
		border-collapse: collapse;
	}

	label,
	label:focus,
	label:active {
		display:inline;
	}

	label:hover {
		color:black;
	}

	input[type='checkbox']{
		height: 20px;
		width: 20px;
		cursor: pointer;
	}

	.checkboxfunclabel {
		display: block;
		height: 20px;
		width: 20px;
		cursor: pointer;
	}

	.checkboxui,
	.lockui {
		background-position:0px 0px;
		background-repeat: no-repeat;
		height: 20px;
		width: 20px;
		display: block;
	}

	.checkboxui{
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAYAAAD+MdrbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYBJREFUeNpiYBgFlALGMxev/afEABN9LUZkPhO1XThq4KiBowaOGkgfA6lfwFKke+07ASC5H4gDGYKFHlDDy/OB2ACI6yl34dp3AUByPZKII9CVB1jIqVM+/2Ni8HvwH0ijuAfkygNkebnxJT+6YQxQr5Mehge+cgAxO7rwB7CXSTXw+R9msOuwgEJg+F3AMPDWT1a8BjZg92oj0LAFGDlly2dOhvSnQjgNXf6Bm+HsdzYUMV++7wxAwxowsh7IEJjtJS8EwLGI7tVZ73hQxNTY/zAUiXzGnpdBLoOBZ78xwwndq7xM/xl6Jd8D6X/YDXTg+YEWk+xwF2Hz6kzpdwySLH+xBg0LOEWKfQRzNn/ihEuADAS75A0vqmvFPwK9+5tw8QUyFBQuyADdsEiBbww+vN+JLw9BXkE3FAYcuH8yFIt8Iq2ABQUyNkNB/Hrxj+SV2CBDITH4Hx6jDcDgwBajRFcBoBgEuRRkWA/QcHyRgDWWsQGQIfuVXpJcEgEEGACCQ4oOjf6ncgAAAABJRU5ErkJggg==");
	}

	.lockui {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAYAAAD+MdrbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH5JREFUeNpiYKAyYETmnLl47T8y30Rfi5FsA9ENI9dQRnTDYAZgEyMGMOFyDTnexTCQGoDqBjLiigxyI2fwe3nUwEFo4CgYCQC1BFn7DrXkCRYiv07BMIxMQxkxDIMZgE2M5JyCrJEM7w6ROgVnZJAZOaMF7KiBo2B4AIAAAwB6LiUZDaiVYwAAAABJRU5ErkJggg==")
	}

	.checkboxfunc {
		display: none;
	}

	.checkboxfunc:checked + .checkboxui,
	.checkboxfunc:checked + .lockui {
		background-position: 0 -20px;
	}



/*	============================= */
/*				COMMON
/*	============================= */


/* ------- */
/* Button */
/* ----- */

	button,
	button:active,
	button:hover,
	button:focus {
		text-align: center;
		padding:10px 8px;
		margin:1px;
		cursor:pointer;
		border: none;
		outline: none;
		background-color:rgb(76,81,86);
		color:rgb(204,209,214);
	}

	button:hover {
		color:rgb(229,234,239);
		border-radius: 3px;
	}


	.buttonsel,
	.buttonsel:hover,
	.buttonsel:active,
	.buttonsel:focus{
		background-color:rgb(0,170,225);
		color:rgb(250,252,255);
	}

	.buttonsel:hover {
		color:white;
	}

	.buttondis,
	.buttondis:hover,
	.buttondis:active,
	.buttondis:focus{
		color:rgb(102,107,112);
		background-color:rgb(127,134,137);
		cursor:default;
		border-radius: 0px;
	}

	.spinnerbutton,
	.spinnerbutton:hover,
	.spinnerbutton:active,
	.spinnerbutton:focus {
		height:22px;
		width:20px;
		font-size:15px;
		text-align:center;
		padding:0;
		vertical-align:4px;
		font-weight:bold;
		margin:0px 0px 0px 0px;
		background-color: rgb(153,158,163);
		border-radius: 0px;
	}

	.spinnerbutton:hover {
		color:white;
	}


/*--------------------*/
/* Common Page Stuff */
/* -----------------*/
	#primaryScreenLayout,
	#secondaryScreenLayout {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

    .poppedOut #primaryScreenLayout {
        overflow: auto;
        position: absolute;
    }

	#navarea_tabs {
		display:block;
		position:absolute;
		top:0px;
		left:0px;
		width:70px;
		height:100%;
		background-color:rgb(204,209,214);
		padding:0px;
		text-align: center;
	}

	#navarea_panel {
		display:block;
		position:absolute;
		top:0px;
		left:70px;
		width:400px;
		height:100%;
		background-color:rgb(229,234,239);
		overflow-y:auto;
		overflow-x:hidden;
	}

	.navarea_section,
	.navarea_header {
		clear:both;
		width:380px;
		padding:10px;
	}

	.navarea_section h1,
	.navarea_section h2,
	.navarea_section h3 {
		color: rgb(0,63,95);
		margin: 10px 0px 4px 0px;
	}

	.navarea_header {
		height:50px;
		background-color: rgb(0,140,210);
	}

	.navarea_header .paneltitle {
		color:rgb(250,252,255);
	}

	#navarea_panel a {
		color:rgb(51, 56, 61);
	}

	.panelsupertitle {
		color: rgb(155,221,255);
		font-weight:normal;
		font-size:1.3em;
		margin:4px 0px 0px 0px;
		width:2000px;
		height:24px;
		overflow-x: hidden;
		line-height: .78em;
		text-transform: none;
	}

	.supertitleseperator {
		padding:0px 10px;
		font-size: inherit;
		color:inherit;
	}

	.paneltitle {
		color:rgb(0,90,135);
		font-weight:normal;
		line-height: .78em;
	}

	.navpanellink {
		font-size:1.1em;
		margin-bottom:10px;
		padding:8px 0px 8px 0px;
		line-height: 1.8em;
		font-style:italic;
	}

	/* Width = sum of panel widths +1 each for border */
	.popout_table {
		width:2372px;
		height:100%;
	}

	#popout_pagenav,
	#popout_charchooser,
	#popout_layerchooser,
	#popout_actions,
	#popout_guides,
	#popout_history,
	#popout_attributes {
		height:100%;
		width:400px;
		display: inline-block;
		background-color:rgb(229,234,239);
		border-left:1px solid rgb(204,209,214);
		overflow-y:auto;
		overflow-x:hidden;
	}

	#popout_pagenav {
		width:220px;
	}

	#popout_actions {
		width:145px;
	}


	#mainwrapper {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		overflow-x:hidden;
		overflow-y:hidden;
		position:absolute;
		top:0px;
		left:0px;
		background-color:rgb(250,252,255);
		margin-left:470px;
	}

	#secondaryScreenLayout #mainwrapper {
		margin-left: 0;
	}

	.primarynavbutton,
	.primarynavbutton:hover,
	.primarynavbutton:active,
	.primarynavbutton:focus {
		height:50px;
		width:50px;
		margin:0px;
		background-color: transparent;
		cursor: pointer;
		padding:0px;
	}

	.popoutsave {
		background-color:rgb(204,209,214);
		border-bottom:5px solid rgb(204,209,214);
		width:230px;
		position:absolute;
		bottom:0px;
		left:-10px;
	}

	#pnsaveout {
		width:100%;
		overflow-x:hidden;
		overflow-y:scroll;
		height:400px;
	}

	#floatlogo {
		background-color:transparent;
		position:fixed;
		right:20px;
		bottom:20px;
		z-index:999;
	}

	#npSaveout {
		height:800px;
		width:100%;
	}

	.pagecontent {
		margin:10px 20px 100px 40px;
		line-height: 1.6em;
	}

	.textpage {
		width:700px;
	}

	.pagecontent h1,
	.pagecontent h2,
	.pagecontent h3 {
		display:block;
		text-transform:none;
		margin-bottom:0px;
	}

	.pagecontent h1 {
		margin-top:30px;
		margin-bottom:10px;
	}

	.pagecontent > h1:first-child {
		margin-top:0px;
	}

	.pagecontent h2 {
		margin-top:20px;
	}

	.pagecontent h3 {
		margin-top:16px;
	}

	.btt {
		font-style:normal;
		margin-left:20px;
	}

	.pagecontent br {
		height:15px;
		display:block;
	}

	.pagecontent input[type=text]{
		margin:6px 3px 2px 0px;
		padding-left:10px;
	}

	.pagecontent p {
		margin-top:8px;
	}

	.charchooserwrapper {
		width:100%;
	}

	.charchooserwrapper h3 {
		display: block;
		clear: both;
		width: 100%;
	}

	.charselectbuttontable {
		display:inline;
		float:left;
		cursor:pointer;
		margin:0px 10px 10px 0px;
	}

	.charselectbuttontable td {
		color:rgb(127,134,137);
	}

	.charselectthumb {
		height:50px;
		width:50px;
		background-color:rgb(250,252,255);
		border:1px solid white;
		display: block;
		clear:both;
	}

	.charselectthumbsel {
		background-color:rgb(80,196,255);
		border:1px solid rgb(0,170,255);
	}

	.charselectbuttonsel,
	.charselectbutton {
		width:50px;
		height:50px;
		border:1px solid white;
		text-align:center;
		line-height: 2em;
		color:rgb(204,209,214);
		background-color:rgb(250,252,255);
		font-size:25px;
		overflow:hidden;
		display: block;
		clear:both;
	}

	.charselectbuttonsel {
		background-color:rgb(0,170,225);
	}

	.unit {
		font-size: 10px;
		color: rgb(127,134,137);
		padding-left: 4px;
	}

	.help,
	.help:focus,
	.help:active {
		font-size:10px;
		padding:0px 3px 1px 2px;
		color:white;
		background-color: rgb(204,209,214);
		border: 3px solid rgb(229,234,239);
	}

	.help:hover {
		background-color: rgb(178,183,188);
		border:3px solid rgb(178,183,188);
	}

/* -----------*/
/* Nav Stuff */
/* ---------*/

	.navtargetbutton,
	.navtargetbutton:active,
	.navtargetbutton:focus,
	.navtargetbutton:hover,
	.navtargetbuttonsel,
	.navtargetbuttonsel:active,
	.navtargetbuttonsel:focus,
	.navtargetbuttonsel:hover {
		font-size:1.5em;
		display:block;
		text-transform:lowercase;
		padding:8px 2px 8px 11px;
		background-color:transparent;
		color: rgb(51, 56, 61);
		cursor:pointer;
		position:relative;
		left:-10px;
		width:430px;
		text-align: left;
		margin-bottom:2px;
	}

	.navtargetbutton:hover{
		color: rgb(76,81,86);
		background-color: rgb(250,252,255);
		border-radius: 0px;
	}

	.navtargetbuttonsel,
	.navtargetbuttonsel:active,
	.navtargetbuttonsel:focus,
	.navtargetbuttonsel:hover {
		color:rgb(0,170,225);
		background-color: rgb(250,252,255);
	}



/* ------- */
/* Dialog */
/* ----- */

	#dialog_bg{
		display:none;
		position:absolute;
		top:0%;
		left:0%;
		width:100%;
		height:100%;
		text-align:center;
		background-color:rgb(76,81,86);
		z-index:1001;
		-moz-opacity: 0.8;
		opacity:.80;
		filter: alpha(opacity=80);
	}

	#dialog_box {
		display:none;
		position:absolute;
		top:100px;
		left:100px;
		height:auto;
		width:auto;
		background-color:rgb(229,234,239);
		z-index:1002;
		overflow:hidden;
	}

	.dialogCloseButton,
	.dialogCloseButton:active,
	.dialogCloseButton:focus,
	.dialogCloseButton:hover {
		width:20px;
		height:25px;
		color:rgb(229,234,239);
		background-color:rgb(0,170,225);/* dynamic */
		font-size:24px;
		font-weight:bold;
		text-align:center;
		padding:0px;
		cursor:pointer;
		border-radius:0px;
	}

	#dialogLeftBar {
		width:20px;
		vertical-align:top;
		background-color:rgb(0,170,225);/* dynamic */
	}

	#dialogRightContent {
		padding:10px 20px 20px 20px;
		color:rgb(25,30,35);
		max-width: 910px;
	}

	#dialogRightContent h1{
		margin-bottom:10px;
	}

	#dialogRightContent td {
		color:rgb(25,30,35);
	}

	#dialogRightContent input {
		color:rgb(25,30,35);
		background-color:rgb(204,209,214);
		margin:1px;
		cursor:pointer;
		padding:4px 12px;
	}

	#dialogRightContent .subnavunit {
		margin:10px 0px 0px 0px;
		width:400px;
		padding:0px;
	}

	#dialogRightContent h1,
	#dialogRightContent h2,
	#dialogRightContent h3 {
		color:rgb(76,81,86);
	}

	#errormessagebox {
		display:none;
		height:auto;
		width:100%;
		background-color:rgb(240,210,215);
		border:1px solid rgb(240,15,54);
		margin:18px 0px 0px 0px;
	}

	.errormessageclosebutton,
	.errormessageclosebutton:hover,
	.errormessageclosebutton:focus,
	.errormessageclosebutton:active {
		width:20px;
		height:25px;
		color:rgb(229,234,239);
		background-color:rgb(240,15,54);
		font-size:24px;
		font-weight:bold;
		text-align:center;
		padding:0px;
		cursor:pointer;
		border-radius:0px;
	}

	.errormessageleftbar {
		width:20px;
		vertical-align:top;
		background-color:rgb(240,15,54);
	}

	#errormessagecontent {
		padding:10px 20px 20px 20px;
		color:rgb(105,45,55);
	}


/*	============================= */
/*				PAGES
/*	============================= */

/* ------------------ */
/* Page - Help		 */
/* -----------------*/

.btt {
	margin:8px 0px 0px 0px;
}
.btt a {
	font-size:.8em;
}

/* ------------------ */
/* Page - About		 */
/* -----------------*/

.aboutpage td,
.aboutpage p,
.aboutpage i,
.aboutpage a,
.aboutpage li,
.aboutpage span {
	font-size: 18px;
}


/* --------------------*/
/* Page - Export Font */
/* ------------------*/
.ttxnote {
	background-color: rgb(155,221,255);
	border: 1px solid rgb(0,170,225);
	padding:16px;
	margin-top:24px;
}

/* ------------------ */
/* Page - Import SVG */
/* -----------------*/

	#svgcode {
		width:100%;
		height:200px;
		margin:12px 0px;
		overflow: auto;
		vertical-align: top;
		font-family: monospace;
		font-size:8px;
		padding: 8px;
	}

	.svgscaleoption {
		height:30px;
		border-style: solid;
		border-color: rgb(178,183,188);
		border-width: 1px 1px 1px 0px;
		vertical-align: middle;
		padding:4px 10px 2px 8px;
	}

/* ------------------ */
/* Page - Open / New */
/* -----------------*/


	.firstruntable {
		border-collapse: collapse;
		height:100%;
		width:100%;
	}

	.firstruntable td {
		vertical-align: middle;
		padding:0px 0px 0px 50px;
	}

	.firstruntableleft {
		background-color: rgb(0,170,225);
		width:475px;
	}


	.firstruntableright {}

	#splashscreenlogo {
		width: 400px;
		margin:0px 20px 16px 0px;
	}

	.splashver {
		font-size:.8em;
		color:white;
		width:350px;
	}

	.splashver a {
		font-size:.9em;
		color:white;
		text-decoration:underline;
	}

	.newtile {
		width:320px;
		margin:20px 4px 20px 20px;
		display:inline;
		float:left;
	}

	#newprojectname	{
		width:94%;
		height:25px;
		margin:10px 0px 0px 0px;
		color:rgb(51,56,61);
		display: block;
	}

	#droptarget {
		width: 90%;
		height: 70px;
		margin: 5px 0px 0px 0px;
		background-color: white;
		border:1px dashed rgb(127,134,137);
		color: rgb(0,170,225);
		padding: 20px 0px 20px 20px;
	}


/* ----------------- */
/* Page - Char edit */
/* --------------- */

	.charedittable {
		width:600px;
		height:100%;
		position:fixed;
		left:0px;
		top:40px;
		background-color:transparent;
		z-index:10;
	}

	#chareditcanvas {
		display: block;
	}

	#ishereghostcanvas {
		display: none;
	}

	.ssthumb,
	.ssthumb:focus,
	.ssthumb:active {
		border:3px solid transparent;
		cursor:pointer;
	}

	.ssthumb:hover {
		border:3px solid rgb(0,170,225);/* dynamic */
	}

/*	TOOLS		*/
	#toolsarea {
		position:fixed;
		left:510px;
		top:15px;
		z-index:10;
	}

    #secondaryScreenLayout #toolsarea,
    #secondaryScreenLayout #keyboardtips {
        left: 15px;
    }

	#toolsarea div {
		margin-right:0px;
		word-spacing: 10px;
	}

	#keyboardtips,
	#keyboardtips:focus,
	#keyboardtips:active {
		position:fixed;
		bottom:10px;
		left:500px;
		top: auto;
		height:50px;
		width:60px;
		padding:0px 5px;
		z-index:10;
		background-color: transparent;
		cursor: pointer;
		border:0;
	}

	#keyboardtips:hover {
		background-color: rgb(229,234,239);
	}

	.keycallout,
	.keycallout_help {
		padding:2px 8px 4px 8px;
		background-color: rgb(250,252,255);
		border-radius: 2px;
		margin-right: 4px;
	}

	.arrow,
	.arrow_help {
		padding:2px 4px;
		background-color: rgb(250,252,255);
		border-radius: 2px;
		width:18px;
		height:18px;
	}

	.keycallout_help,
	.arrow_help {
		background-color: rgb(229,234,239);
	}

	.keycol {
		text-align: right;
		padding-right:8px;
		padding-bottom: 16px;
	}

	.tool,
	.tool:active,
	.tool:focus,
	.tool:hover {
		height:30px;
		width:30px;
		padding:5px;
	}

	.zoomreadout,
	.zoomreadout:active,
	.zoomreadout:focus,
	.zoomreadout:hover {
		background-color:rgb(204,209,214);
		color:rgb(51,56,61);
		height: 30px;
		cursor:default;
		width:62px;
		text-align: center;
		vertical-align: top;
		margin:1px;
		border-radius: 0px;
	}



/*	LAYERS		*/

	.layertable {
		width:100%;
	}

	.layer,
	.layersel	{
		width:100%;
		border-bottom:6px solid rgb(229, 234, 239);
		background-color: rgb(178,183,188);
		height: 50px;
		margin-bottom: -10px;
		cursor: pointer;
	}

	.layer .layername{
		color:rgb(250,252,255);
	}

	.layersel .layername {
		background-color: rgb(0,170,225);
		color: rgb(155,221,255);
	}

	.layername{
		padding:6px 0px 6px 10px;
		height: 45px;
		text-align: left;
		font-size: 24px;
	}

	.layernote {
		font-size: .4em;
		color:white;
		display: block;
		margin-top:4px;
		clear: both;
	}

	.layerthumb {
		height:50px;
		width:50px;
		background-color: rgb(250,252,255);
	}

	.layerthumb canvas {
		height: 50px;
		width: 50px;
	}

/*	DETAILS		*/

	.detail	{
		width:380px;
	}

	.detail td {
		margin:0px 10px 10px 10px;
		padding:0px 10px 5px 0px;
		vertical-align:top;
		height:25px;
	}

	.detail input[type='text'] {
		padding:0 .4em;
		display:inline;
		width:140px;
		height:20px;
		vertical-align:top;
		border:1px solid white;
	}

	.detail input[type=text][disabled='disabled']{
		background-color:rgb(204,209,214);
		border:1px solid rgb(204,209,214);
		color:rgb(127,134,137);
	}

	.detail .rightcol {
		width:200px;
	}

	.detail .leftcol	{
		width:12px;
		padding:0px 2px 0px 0px;
		margin:0px;
		overflow:hidden;
	}

	.pointtypebutton,
	.pointtypebutton:active,
	.pointtypebutton:focus,
	.pointtypebutton:hover {
		margin:auto 6px auto 0px;
		padding:2px;
		width:24px;
		height:24px;
		cursor:pointer;
	}

	/* Checkbox, Lock, & Help icons */
	.customui,
	.customui:hover,
	.customui:active,
	.customui:focus {
		width:20px;
		height:20px;
		background-color: transparent;
		padding: 0px;
		margin:0px;
		vertical-align: middle;
	}


/*	ACTIONS		*/

	.actionsgrid {
		padding:0px 10px 30px 5px;
		width:378px;
	}

	.actionsgrid td {
		padding:0px 0px 12px 0px;
		width:126px;
	}
	
	.actionsgrid button {
		width:123px;
		text-transform: lowercase;
		text-align: left;
		margin-bottom:2px;
	}

/*	GUIDES		*/
	.guiderow {
		background-color: rgb(250,252,255);
		width:100%;
		margin-bottom:4px;
	}

	.guiderow span {
		display: inline-block;
		padding:0px 4px;
		vertical-align: top;
	}

	.guidename {
		font-weight: bold;
		width:50%;
		margin-left: 10px;
	}

	.guidelocation {
		text-align: right;
		width:100px;
	}

	.guiderow select,
	.guiderow input[type=number] {
		border-radius: 0px;
		border: 1px solid rgb(153,158,163);
		padding:2px;
		font-size: 14px;
		width:100px;
	}

	.guidecolor {
		height:100%;
		width:30px;
		cursor: pointer;
		border-width:2px;
		border-style:solid;
		border-color:rgb(250,252,255);
	}

/*	HISTORY		*/
	.history_char {
		color:rgb(127,134,137);
		margin-top:20px;
	}

	.history_action {

	}

	.history_date {
		text-align: right;
		font-size: .8em;
		color:rgb(178,183,188);
	}



/* ----------------------- */
/* Page - Font Properties */
/* --------------------- */

	.metadata h3 {
		margin-top:30px;
	}

	.opentypepropertiestable {
		width:100%;
	}

	.propname {
		padding:4px 0px 0px 0px;
		width:20%;
	}

	.opentypepropertiestable input[type=text]{
		width:100%;
		margin:0px 0px 10px 20px;
	}


/* --------------------- */
/* Page - Font Settings */
/* ------------------- */

	.settingstable {
		margin:12px 0px;
	}

	.settingstable td {
		padding:0px 10px 0px 0px;
		vertical-align:middle;
	}

	.settingstable .spinnerbutton,
	.settingstable .spinnerbutton:active,
	.settingstable .spinnerbutton:focus,
	.settingstable .spinnerbutton:hover {
		height:28px;
		position: relative;
		top:4px;
		left:-4px;
	}

	.charrangepreview {
		background-color: white;
		border: 1px solid rgb(229,234,239);
		color:rgb(102,107,112);
		font-family: serif;
		letter-spacing: .2em;
		line-height: 1.4em;
		margin-top:8px;
		padding:8px;
	}

	.customrangeline {
		border: 1px solid rgb(229,234,239);
		color:rgb(102,107,112);
		background-color: white;
		padding:4px;
		vertical-align: middle;
	}

	#customrangeerror {
		color:red;
		background-color: pink;
		display: none;
		padding:8px;
		border:1px dotted red;
	}

/* -------------------- */
/* Page - Save Project */
/* ------------------ */

	#genoutput {
		font-family:monospace;
	}


/* ----------------- */
/* Page - Testdrive */
/* --------------- */

	#tdcanvas {
		background-color:white;
	}

	#tdtextarea	{
		width:795px;
		height:150px;
		padding:2px 0px 0px 5px;
		border:0px;
		background-color:rgb(204,209,214);
		overflow:hidden;
		margin:1px 0px 10px 0px;
		font-size:2em;
	}

	#roughptsize {
		padding-left: 6px;
	}

/* ------------------ */
/* Page - LinkedShapes */
/* ---------------- */

	.ssthumbcontainer {
		width:100%;
		overflow-y:auto;
		overflow-x:hidden;
	}

	.ssthumbcontainer table {
		margin:0px 10px 30px 0px;
		display:inline;
		float:left;
		text-transform:none;
	}

	.ssthumbcontainer canvas {
		background-color:white;
	}

	.ssusedinthumb,
	.ssusedinthumb:focus,
	.ssusedinthumb:active {
		border-bottom:3px solid transparent;
		background-color: white;
	}

	.ssusedinthumb:hover {
		cursor:pointer;
		border-bottom:3px solid rgb(0,170,225);
	}

